@(
    election: Long,
    title:String,
    blurb: String,
    candidates: List[String],
    voters: List[String],
    counts:List[List[anorm.Row]],
    countForm: Form[Int]
)(implicit flash: Flash)

@main(title) {
    <h1>@title</h1>
    @for( msg <- flash.get("success")) {
        <p>Woop woop: @msg</p>
    }
    @for( msg <- flash.get("error")) {
    <p>Oops! @msg</p>
    }
    <p>@blurb</p>
    <h2>Options</h2>
    <ul>
    @for(candidate <- candidates) {
        <li>@candidate</li>
    }
    </ul>
    <h2>Current votes</h2>
        <a href="@routes.Application.showVoteForm(election)">Vote</a>
    @if(voters.isEmpty) {
        <p>Nobody has voted yet.</p>
    } else {
        <ul>
            @for(voter <- voters) {
                <li>@voter</li>
            }
        </ul>
    }
    <h2>Results</h2>
    @helper.form(action = routes.Application.count(election)) {
        @helper.inputText(countForm("seats"), '_label -> "# Places")
        <input type="submit" value="Count Votes"/>
    }
    @if(counts.isEmpty) {
        <p>Not counted yet.</p>
    } else {
        @for(count <- counts) {
            <h3>@count.head[Int]("seats") place result</h3>
            <table>
                <thead>
                <tr>
                    <th>Round</th>
                    <th>Option</th>
                    <th>Votes</th>
                    <th>Elected?</th>
                    <th>Eliminated?</th>
                </tr>
                </thead>
            @for(row <- count) {
                <tr>
                    <td>@row[Long]("round")</td>
                    <td>@row[String]("candidateName")</td>
                    <td>@row[Int]("voteCount")</td>
                    <td>@if(row[Boolean]("isElected")) {Yes} else {No}</td>
                    <td>@if(row[Int]("voteCount") == 0) {Yes} else {No}</td>
                </tr>
            }
            </table>
        }
    }
}
