@import Application._
@(election: Long, title:String, candidates:List[String], form: Form[Ballot])

@main(title) {
    <h1>@title Ballot</h1>
    @if(form.hasErrors) {
    <p>My hovercraft is full of errors!</p>
    <p>Please follow instructions to correct the problem. Thank you for your cooperation.</p>
    <ul>
        @for(error <- form.globalErrors) {
            <li>@error.message</li>
        }
    </ul>
    }
    @helper.form(action = routes.Application.vote(election)) {
        @helper.inputText(form("name"), '_label -> "Your Name")
        <fieldset>
            <p>Rank each option from 1 to @candidates.length.</p>
            <p>1 = QUITE GOOD</p><p>@candidates.length = RATHER POOR</p>
        @for((candidate, idx) <- candidates.zipWithIndex) {
            @helper.input(form("preferences")("[" + idx + "]"), '_label -> candidate) { (id, name, value, args) =>
                <input type="number" name="@name" id="@id" @toHtmlArgs(args) />
            }
        }
        </fieldset>
        <input type="submit" value="Cast Vote"/>
    }
}
